
# compiled python
*.py[co]


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
nohup.out
# Installer logs
pip-log.txt


#Eclipse junk
.project
.pydevproject

#Eclipse junk
.project
.pydevproject