
{% extends "base.html" %}
	{% block title %}Posted!{% endblock %}
	
	{% block heading %}
	<a href="/blog/newpost">Post Again?</a>
  	<a href="/blog" class="main-title">
    YOU DID IT!
  </a>
	{% endblock %}
	
	{% block content %}
    
    <div class="post">
  <div class="post-heading">
    <a href='/blog' class="post-title">
      {{post.subject}}
    </a>

    <div class="post-date">
      {{post.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{post.content}}
  {% endblock %}
    