<!DOCTYPE html>
<html>
  <head>
  	<link  rel="stylesheet" type="text/css" 
    href="/stylesheets/main.css" />
    <title>Blog Form!</title>
  </head>

  <body>
    <h2>Blog about something:</h2>
    <h4>Subject:</h4>
    <form method="post">
    	<input type="text" name="subject" value="{{subject}}">
    	<h4>Content:</h4>
      <textarea name="content">
      	{{content}}
      	</textarea>
      <br>
      <label class='error'>{{error}}</label>
      <input type="submit">
    </form>
  </body>

</html>
