
<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>CS 253 Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    CS 253 Blog
  </a>

  <div class="login-area">
    
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    
  </div>

  <div id="content">
  

  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/20002" class="post-title">
      the suit is back!
    </a>

    <div class="post-date">
      May 08, 2012
    </div>
  </div>

  <div class="post-content">
    again
  </div>
</div>
    <br><br>
  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/20001" class="post-title">
      a new post!
    </a>

    <div class="post-date">
      May 08, 2012
    </div>
  </div>

  <div class="post-content">
    hurray!
  </div>
</div>
    <br><br>
  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/13004" class="post-title">
      Huzzah!
    </a>

    <div class="post-date">
      May 01, 2012
    </div>
  </div>

  <div class="post-content">
    Huzzah (originally huzza, and in most modern varieties of English hurrah or hooray) is an archaic English interjection of joy or approbation. According to the Oxford English Dictionary it is "apparently a mere exclamation". The dictionary does not mention any specific derivation. Whatever its origins, it has seen occasional literary use since at least the time of Shakespeare.
  </div>
</div>
    <br><br>
  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/4004" class="post-title">
      Huzzah!
    </a>

    <div class="post-date">
      May 01, 2012
    </div>
  </div>

  <div class="post-content">
    "It's turtles all the way down my friend"
  </div>
</div>
    <br><br>
  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/8003" class="post-title">
      Test
    </a>

    <div class="post-date">
      May 01, 2012
    </div>
  </div>

  <div class="post-content">
    This is a test UK
  </div>
</div>
    <br><br>
  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/7001" class="post-title">
      Hello, test!
    </a>

    <div class="post-date">
      May 01, 2012
    </div>
  </div>

  <div class="post-content">
    This is simply me testing how the heck this is supposed to work!
  </div>
</div>
    <br><br>
  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/6001" class="post-title">
      this works nicely
    </a>

    <div class="post-date">
      May 01, 2012
    </div>
  </div>

  <div class="post-content">
    this is nice. 
  </div>
</div>
    <br><br>
  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/2002" class="post-title">
      Homey Airport
    </a>

    <div class="post-date">
      May 01, 2012
    </div>
  </div>

  <div class="post-content">
    The federal government explicitly concedes (in various court filings and government directives) that the USAF has an "operating location" near Groom Lake, but does not provide any further information.
<br>
<br>Unlike much of the Nellis range, the area surrounding the lake is permanently off-limits both to civilian and normal military air traffic. Radar stations protect the area, and unauthorized personnel are quickly expelled. Even military pilots training in the NAFR risk disciplinary action if they stray into the exclusionary "box" surrounding Groom's airspace.
<br>
<br>The base does not appear on public U.S. government maps.
  </div>
</div>
    <br><br>
  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/1002" class="post-title">
      what a great title
    </a>

    <div class="post-date">
      Apr 12, 2012
    </div>
  </div>

  <div class="post-content">
    what a great blog body
  </div>
</div>
    <br><br>
  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/1001" class="post-title">
      The Raven by Edgar Allan Poe
    </a>

    <div class="post-date">
      Apr 12, 2012
    </div>
  </div>

  <div class="post-content">
    	 Once upon a midnight dreary, while I pondered weak and weary,
<br>Over many a quaint and curious volume of forgotten lore,
<br>While I nodded, nearly napping, suddenly there came a tapping,
<br>As of some one gently rapping, rapping at my chamber door.
<br>`'Tis some visitor,' I muttered, `tapping at my chamber door -
<br>Only this, and nothing more.'
<br>
<br>Ah, distinctly I remember it was in the bleak December,
<br>And each separate dying ember wrought its ghost upon the floor.
<br>Eagerly I wished the morrow; - vainly I had sought to borrow
<br>From my books surcease of sorrow - sorrow for the lost Lenore -
<br>For the rare and radiant maiden whom the angels named Lenore -
<br>Nameless here for evermore.
<br>
<br>And the silken sad uncertain rustling of each purple curtain
<br>Thrilled me - filled me with fantastic terrors never felt before;
<br>So that now, to still the beating of my heart, I stood repeating
<br>`'Tis some visitor entreating entrance at my chamber door -
<br>Some late visitor entreating entrance at my chamber door; -
<br>This it is, and nothing more,'
<br>
<br>Presently my soul grew stronger; hesitating then no longer,
<br>`Sir,' said I, `or Madam, truly your forgiveness I implore;
<br>But the fact is I was napping, and so gently you came rapping,
<br>And so faintly you came tapping, tapping at my chamber door,
<br>That I scarce was sure I heard you' - here I opened wide the door; -
<br>Darkness there, and nothing more.
<br>
<br>Deep into that darkness peering, long I stood there wondering, fearing,
<br>Doubting, dreaming dreams no mortal ever dared to dream before;
<br>But the silence was unbroken, and the darkness gave no token,
<br>And the only word there spoken was the whispered word, `Lenore!'
<br>This I whispered, and an echo murmured back the word, `Lenore!'
<br>Merely this and nothing more.
<br>
<br>Back into the chamber turning, all my soul within me burning,
<br>Soon again I heard a tapping somewhat louder than before.
<br>`Surely,' said I, `surely that is something at my window lattice;
<br>Let me see then, what thereat is, and this mystery explore -
<br>Let my heart be still a moment and this mystery explore; -
<br>'Tis the wind and nothing more!'
<br>
<br>Open here I flung the shutter, when, with many a flirt and flutter,
<br>In there stepped a stately raven of the saintly days of yore.
<br>Not the least obeisance made he; not a minute stopped or stayed he;
<br>But, with mien of lord or lady, perched above my chamber door -
<br>Perched upon a bust of Pallas just above my chamber door -
<br>Perched, and sat, and nothing more.
<br>
<br>Then this ebony bird beguiling my sad fancy into smiling,
<br>By the grave and stern decorum of the countenance it wore,
<br>`Though thy crest be shorn and shaven, thou,' I said, `art sure no craven.
<br>Ghastly grim and ancient raven wandering from the nightly shore -
<br>Tell me what thy lordly name is on the Night's Plutonian shore!'
<br>Quoth the raven, `Nevermore.'
<br>
<br>Much I marvelled this ungainly fowl to hear discourse so plainly,
<br>Though its answer little meaning - little relevancy bore;
<br>For we cannot help agreeing that no living human being
<br>Ever yet was blessed with seeing bird above his chamber door -
<br>Bird or beast above the sculptured bust above his chamber door,
<br>With such name as `Nevermore.'
<br>
<br>But the raven, sitting lonely on the placid bust, spoke only,
<br>That one word, as if his soul in that one word he did outpour.
<br>Nothing further then he uttered - not a feather then he fluttered -
<br>Till I scarcely more than muttered `Other friends have flown before -
<br>On the morrow he will leave me, as my hopes have flown before.'
<br>Then the bird said, `Nevermore.'
<br>
<br>Startled at the stillness broken by reply so aptly spoken,
<br>`Doubtless,' said I, `what it utters is its only stock and store,
<br>Caught from some unhappy master whom unmerciful disaster
<br>Followed fast and followed faster till his songs one burden bore -
<br>Till the dirges of his hope that melancholy burden bore
<br>Of "Never-nevermore."'
<br>
<br>But the raven still beguiling all my sad soul into smiling,
<br>Straight I wheeled a cushioned seat in front of bird and bust and door;
<br>Then, upon the velvet sinking, I betook myself to linking
<br>Fancy unto fancy, thinking what this ominous bird of yore -
<br>What this grim, ungainly, ghastly, gaunt, and ominous bird of yore
<br>Meant in croaking `Nevermore.'
<br>
<br>This I sat engaged in guessing, but no syllable expressing
<br>To the fowl whose fiery eyes now burned into my bosom's core;
<br>This and more I sat divining, with my head at ease reclining
<br>On the cushion's velvet lining that the lamp-light gloated o'er,
<br>But whose velvet violet lining with the lamp-light gloating o'er,
<br>She shall press, ah, nevermore!
<br>
<br>Then, methought, the air grew denser, perfumed from an unseen censer
<br>Swung by Seraphim whose foot-falls tinkled on the tufted floor.
<br>`Wretch,' I cried, `thy God hath lent thee - by these angels he has sent thee
<br>Respite - respite and nepenthe from thy memories of Lenore!
<br>Quaff, oh quaff this kind nepenthe, and forget this lost Lenore!'
<br>Quoth the raven, `Nevermore.'
<br>
<br>`Prophet!' said I, `thing of evil! - prophet still, if bird or devil! -
<br>Whether tempter sent, or whether tempest tossed thee here ashore,
<br>Desolate yet all undaunted, on this desert land enchanted -
<br>On this home by horror haunted - tell me truly, I implore -
<br>Is there - is there balm in Gilead? - tell me - tell me, I implore!'
<br>Quoth the raven, `Nevermore.'
<br>
<br>`Prophet!' said I, `thing of evil! - prophet still, if bird or devil!
<br>By that Heaven that bends above us - by that God we both adore -
<br>Tell this soul with sorrow laden if, within the distant Aidenn,
<br>It shall clasp a sainted maiden whom the angels named Lenore -
<br>Clasp a rare and radiant maiden, whom the angels named Lenore?'
<br>Quoth the raven, `Nevermore.'
<br>
<br>`Be that word our sign of parting, bird or fiend!' I shrieked upstarting -
<br>`Get thee back into the tempest and the Night's Plutonian shore!
<br>Leave no black plume as a token of that lie thy soul hath spoken!
<br>Leave my loneliness unbroken! - quit the bust above my door!
<br>Take thy beak from out my heart, and take thy form from off my door!'
<br>Quoth the raven, `Nevermore.'
<br>
<br>And the raven, never flitting, still is sitting, still is sitting
<br>On the pallid bust of Pallas just above my chamber door;
<br>And his eyes have all the seeming of a demon's that is dreaming,
<br>And the lamp-light o'er him streaming throws his shadow on the floor;
<br>And my soul from out that shadow that lies floating on the floor
<br>Shall be lifted - nevermore!
  </div>
</div>
    <br><br>
  

  <div class="age">
    queried 32726 seconds ago
  </div>


  </div>
</body>

</html>
